:root {
    --dark: 23, 0, 66;
    --light: 255, 255, 255;
    --sec: 142, 90, 242;
    --sec2: #5400ec;
    --bs: 0px 1px 20px 7px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: .4s all ease;
}

p {
    line-height: 150%;
}

nav {
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: rgb(10, 0, 40);
    box-shadow: var(--bs);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    overflow: hidden;
    text-align: center;
}

nav .logo {
    height: 60px;
    width: 60px;
    background: url(../media/logo2.png);
    background-position: center center;
    background-size: contain;
}

nav div {
    overflow: hidden;
    display: block;
}

nav a {
    margin: 0 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(var(--light));
    text-align: center;
    position: relative;
    overflow: hidden;
}

nav a::after {
    display: block;
    content: ' ';
    background: rgb(var(--light));
    height: 2px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 1);
}

input {
    display: none;
}

label {
    height: 50px;
    width: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 100%;
    display: none;
    color: white;
}

label:hover {
    cursor: pointer;
}

label > .second {
    display: none;
}

input:checked ~ label > .first {
    display: none;
}

input:checked ~ label > .second {
    display: block;
}

.items {
    transform-origin: top right;
}

@media only screen and (max-width: 1200px) {
    nav {
        overflow: visible;
        display: inline-block;
    }
    
    input ~ .items {
        transform: scale(0, 0);
        transition: .4s all ease;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 5%;
        height: auto;
        padding: 20px;
        width: auto;
        overflow: visible;
        background: rgb(17, 0, 46);
        border-radius: 50px;
        z-index: 20;
        transition: .4s all ease;
    }
    
    input ~ .items > a {
        opacity: 0;
        margin: 0 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        color: rgb(var(--light));
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    
    input ~ .items > a::after {
        display: none;
    }
    
    input ~ .items > a:hover, input ~ .items > a:focus, input ~ .items > a:active {
        color: rgb(var(--sec));
    }  
    
    input:checked ~ .items > a {
        opacity: 1;
    }
    
    label {
        display: flex;    
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
    
    input:checked ~ .items {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 5%;
        transform: scale(1, 1);
        height: auto;
        padding: 20px;
        width: auto;
        overflow: visible;
        background: rgb(17, 0, 46);
        border-radius: 20px;
        box-shadow: var(--bs);
        z-index: 20;
        transition: .4s all ease;
    }
}

@keyframes swoosh {
    0% {
        transform: translate(-50%, -50%) scale(0, 1);
        transform-origin: left;
    }
    
    49% {
        transform-origin: left;
    }
    
    50% {
        transform: translate(-50%, -50%) scale(1, 1);
        transform-origin: center;
    }
    
    51% {
        transform-origin: right;
    }
    
    100% {
        transform: translate(-50%, -50%) scale(0, 1);
        transform-origin: right;
    }
}

nav a:hover::after {
    animation-name: swoosh;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home {
    height: 90vh;
    width: 100vw;
    display: block;
    background: url(../media/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.over {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right bottom, rgba(var(--dark), 0.9), rgba(0, 0, 0, 0.7));
    position: relative;
    text-align: center;
    overflow: hidden;
}

.over::after {
    display: block;
    z-index: 9;
    content: ' ';
    background: rgb(var(--light));
    height: 20vh;
    width: 2000px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    animation: fade 1s .5s forwards 1;
}

.content h1 {
    color: rgb(var(--light));
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.content p {
    color: rgb(var(--light));
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.content a {
    background: transparent;
    padding: 10px 20px;
    border-radius: 40px;
    border: 2px solid #fff;
    font-size: 18px;
    display: inline-block;
    margin: 20px auto;
    color: #fff;
    text-transform: lowercase;
    font-weight: 600;
}

@media only screen and (max-width: 800px) {
    .content h1 {
        font-size: 30px;
    }
    
    .content p {
        font-size: 16px;
    }
}

.content a:hover {
    background: rgb(var(--light));
    color: #000;
}

.info {
    width: 70vw;
    background: rgb(var(--light));
    position: relative;
    margin: 0 auto;
    top: -15vh;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    text-align: center;
    grid-gap: 4em;
    padding: 20px;
    margin-bottom: -10vh;
}

@media only screen and (max-width: 1400px) {
    .info {
        top: -5px;;
        margin-bottom: 20px;
        width: 100vw;
        box-shadow: none;
        padding: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .info {
        grid-template-columns: 1fr;
    }
}

.info-card {
    overflow: hidden;
    position: relative;
    color: rgb(var(--dark));
    padding: 10px;
}

.info-card i {
    font-size: 50px;
}

.info-card h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 600;
    background: #fff;
    position: relative;
    padding: 0 10px;
    z-index: 1;
    overflow: hidden;
}

.title::after {
    display: block;
    content: ' ';
    background: rgb(var(--dark));
    height: 2px;
    width: 100px;
    margin: 5px auto 20px;
    z-index: 1;
}

.about {
    position: relative;
    padding: 30px;
    text-align: center;
    color: rgb(var(--dark));
}

.about > p {
    max-width: 130ch;
    margin: 10px auto;
    line-height: 200%;
}

.about-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    place-items: center;
    padding: 20px;
    grid-gap: 2em;
    overflow: hidden;
}

.about-card {
    padding: 20px;
    position: static;
    place-items: center;
    text-align: center;
    overflow: hidden;
}

.image {
    height: 250px;
    width: 250px;
    border: 2px solid #000;
    border-radius: 100%;
    margin-bottom: 20px;
    position: relative;
    transition: .4s all ease;
}

.image-o {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(var(--dark), 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 100%;
    opacity: 0;
    transition: .4s all ease;
}

.image-o p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(var(--light));
}

.image:hover > .image-o {
    opacity: 1;
    cursor: pointer;
}

.about-card a {
    color: rgb(var(--dark));
    position: relative;
}

.about-card i {
    margin: 10px;
    font-size: 24px;
    position: relative;
    padding: 0 10px;
    transition: .4s all ease;
}


.about-card:nth-child(1) > .image {
    background: url(../media/jon.jpg);
    background-size: 400px;
    background-position: -40px -50px;
}

.about-card:nth-child(2) > .image {
    background: url(../media/jeff.jpeg);
    background-size: 400px;
    background-position: -40px 0px;
}

.about-card:nth-child(3) > .image {
    background: url(../media/aarush.jpg);
    background-size: cover;
    background-position: center;
}

.about-card:nth-child(4) > .image {
    background: url(../media/stevie.jpg);
    background-size: cover;
    background-position: center;
}

.about-card:nth-child(5) > .image {
    background: url(../media/lucas.jpeg);
    background-size: contain;
    background-position: center;
}

.about-card:nth-child(3) {
    grid-column: 3/4;
}

@media only screen and (max-width: 1200px) {
    .about-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .about-card:nth-child(3) {
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 800px) {
    .about-grid {
        grid-template-columns: 1fr;
    }
    
    .about-card:nth-child(3) {
        grid-column: 1/2;
    }
}

.curriculum {
    position: relative;
    padding: 30px;
    text-align: center;
    color: rgb(var(--dark));
}

.curriculum-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    padding: 30px;
    grid-gap: 4em;
    place-items: center;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .curriculum-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .curriculum-grid {
        grid-template-columns: 1fr;
    }
}

.curriculum-card {
    background: rgb(var(--dark));
    padding: 20px;
    border-radius: 20px;
    color: white;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: .4s all ease;
}

.curriculum-card a {
    padding: 10px;
    background: white;
    border-radius: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: var(--bs);
    position: relative;
}

.curriculum-card a:hover {
    transform: translateY(5px);
}


.curriculum-card:hover {
    transform: scale(1.05);
}

.curriculum-card h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.title {
    color: rgb(var(--dark));
}

.curriculum > p {
    max-width: 130ch;
    margin: 10px auto;
    line-height: 200%;
}

.chapter {
    position: relative;
    padding: 30px;
    text-align: center;
    color: rgb(var(--dark));
}

.contact {
    position: relative;
    padding: 20px;
    text-align: center;
}

.contact p {
    font-size: 20px;
    overflow: hidden;
}

.contact p a {
    color: rgb(var(--sec));
    border-bottom: 2px solid transparent;
}

.contact p a:hover {
    border-bottom: 2px solid rgb(var(--sec));
}

.event-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}


.socials-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .event-grid {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

.socials-grid a {
    display: block;
}

.socials-grid i {
    font-size: 40px;
    height: 70px;
    width: 70px;
    margin: 0 40px;
    background: transparent;
    border-radius: 100%;
    color: rgb(var(--dark));
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(var(--dark));
    transition: .4s all ease;
}

.socials-grid i:hover {
    background: rgb(var(--dark));
    color: #fff;
}

@media only screen and (max-width: 800px) {
    .socials-grid {
        display: block;
    }
    
    .socials-grid a {
        display: inline-block;
        margin: 20px;
    }
    
    .socials-grid i {
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .socials-grid {
        display: flex;
        flex-direction: column;
    }
}

footer {
    background: rgb(var(--dark));
    padding: 10px;
    color: #fff;
    text-align: center;
}
